* {
    padding:0;
    margin:0;

    font-family: 'Poppins', sans-serif;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.header{
    min-height: 100vh;
    width:100%;
    background-image: url('https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
position: relative;
background-position: center;
}
#calc{
  
    background: linear-gradient(to top left,  #aad8e0 40%, #da9bc2 100%);
    width: 100%;
    height: 190%;
   
}

nav{
display:flex;
padding:2% 6%;
justify-content: space-between;
align-items: center;
position: relative;
}
 img{
    width: 60px;
    height:60px;
}
.nav-links{
    flex:1;
    text-align: right;
  
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding: 18px 12px;
    position: relative;
}

.nav-links ul li a{
    color:rgb(250, 250, 250);
    text-decoration: none;
    font-size: 25px;margin-left: 25px;
    font-family:cursive;
}
.text-box{
    width: 40%;

    margin-top: auto;
    color:white;
    position: absolute;
    top:37%;
    left:35%;
    transform: translate(-50%,-50%,);
    text-align: center;
    
}
h1{
font-size: 37;

}
.text-box p{ 
margin: 111px 0px 0px;
font-size: 28px;
color:rgb(116, 219, 69) ;
}

      
.scroll-down{
    /* height: 50px;
    width: 30px; */
    /* border: 2px solid black; */
    position: absolute;
    left: 40%;
    bottom: 13%;
    /* border-radius: 50px; */
    cursor: pointer;
    padding: 125px 0px;
    
}
/* .scroll-down::before */
.scroll-down::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 40%;
    
    animation: scroll-down 1s ease-in-out infinite;
}

button{
    background-color: #36be3b;
    
cursor:pointer;
}
.btn {

    color:white;
    border: 2px solid #4CAF50;
  padding: 20px 30px;
  font-size:25px;
  }
  .btn:hover{
    color:#ffffff;
    background-color: rgba(223, 173, 233, 0.87);
    }
.input{
    padding:5px;

}


    table 
    {

        margin-top: 50px;
        padding: 10px;
        height:40%;
        margin-left: 24%;
        width:45%;
        font-size: 20px;
        border-collapse: separate;
        letter-spacing: 0px;
         background-color:rgb(0,0,0,0.1); 
    }
  
    
  td {
    width: 150px;
    text-align: center;
    padding: 5px;
  }
  h2{
      margin-left:200px;
      font-size: 45px;
  }
  label{
margin-left:380px;
background-color: red;
color: rgb(255, 255, 255);
font-size: 25px;
  }
/*    
*/
  .i9,select{
    width: 250px;
border:1px solid lightblue;
outline: none;
}
select{
    margin-left:10px;
    letter-spacing: 2px;
    width: 100px;
}
span{
    font-size: 2em;
    font-weight: 800;
    color: pink;
}

footer {
	position: relative;
	width: 100%;
	left: 0;
    padding: 15px;
	bottom: 0;
	background-color: rgb(70, 169, 235);
	color: white;
	text-align: center;
}

  

.socialbtns .fa {
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 0px #000,
			1px -1px 0px rgb(2, 2, 2),
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-moz-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-o-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
}
a, a:hover {
	color: rgb(241, 233, 233);
	text-decoration: none;
	padding: 20px;
    font-size:40px
}

.socialbtnsbtnsbtns, .socialbtnsbtnsbtns ul, .socialbtnsbtnsbtns li {
	margin: 0;
	padding: 15px;
}
.socialbtnsbtnsbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

a ,a:hover{

		padding: 20px;
    font-size:40px
}

.c{
   
    color:rgb(88, 204, 233);

    background-color: #f9feff;
    border: 8px groove rgb(23, 165, 175) ;
    margin-right: 300px;

}
text{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-left:80px;
}

.contact-action {
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 60px;
    height: 60px; 
    cursor: pointer;
    
  }
  
  .contact-action .item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    background: rgb(17, 179, 223);
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 1px 1px 5px #000;
  }
  
  .contact-action.open div {
    transform: rotate(45deg);
  }
  
  .contact-action span {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    top: 0;
    left: 0;
  }
  
  .open span{
    visibility: visible;
    animation: 1s entering;
  }
  
  /* Position of elements */
  .open span:nth-child(2) {
    top: -145%;
  }
  
  .open span:nth-child(3) {
    top: -90%;
    left: -130%;
  }
  
  .open span:nth-child(4) {
    top: 40%;
    left: -150%;
  }
  .open span:nth-child(5) {
    top: 159%;
    left: -57%;
}
  @keyframes entering {
    0%{
      top: 0;
      left: 0;
      width: 65%;
      height: 65%;
    }
    100%{
      width: 100%;
      height: 100%;
    }
  }